<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="KatanaProject.WebAutomation.AppTest"/>
      <class name="KatanaProject.WebAutomation.CreateCustomer"/>
      <class name="KatanaProject.WebAutomation.CreateSales"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
